.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.hero-content {
  position: relative;
  z-index: 2;
  color: white;
}

.animated-text {
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* background: linear-gradient(90deg, #facc15, #f472b6, #60a5fa); */
  background-color: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 50px;
}

.buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
}

.schedule {
  background-color: #179f99;
  color: white;
}

.contact {
  background-color: #179f99;
  color: white;
}

.schedule:hover,
.contact:hover {
  background-color: white;
  color: #0f172a;
}
