.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  padding: 15px 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: transform 0.3s ease;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Slight left shift on hover */
.logo-container:hover {
  transform: translateX(-5px);
}

.logo {
  height: 60px;
  margin-left: -9rem;
}

.brand-name {
  font-size: 1.8rem;
  font-weight: bold;
  color: #179f99;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  position: relative;
  text-decoration: none;
  color: #333;
  font-weight: 550;
  font-size: large;
  letter-spacing: normal;
  transition: color 0.3s ease;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-links li a:hover {
  color: #179f99;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%) scale(0);
  width: 6px;
  height: 6px;
  background-color: #179f99;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.nav-links li a:hover::after {
  transform: translateX(-50%) scale(1);
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: black;
}

/* Mobile styles */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links li {
    width: 100%;
  }

  .nav-links li a {
    display: block;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
}
